#bg_about{
}

#bg_index{
    /* background: rgb(9,38,121); */
    background: linear-gradient(0deg, rgba(9,38,121,1) 0%, rgba(0,177,255,0.8661589635854342) 57%, rgba(0,147,255,0.2639180672268907) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img_container{
    display: inline-block;
    position: relative;
}

.bg_white{
    background-color: white;
}

.positioning{
    position: absolute;
    left: 12px;
    top: 14px;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
}

.bg_sebelah{
    background: rgb(0,147,255);
    background: radial-gradient(circle, rgba(0,147,255,1) 0%, rgba(0,255,175,0.8661589635854342) 57%, rgba(0,14,255,1) 100%);
}

.lumba_lumba{
    padding-left: 0;
    padding-top: 0;
}


.mx-2{
    margin-left: 2px;
    margin-right: 2px;
}

.bg_blue{
    background-color: blue;
}

.text_blue{
    color: blue;
}

.my-2{
    margin-top: 4px;
    margin-bottom: 4px;
}

.form_billing{
    background-color: cyan;
}

.grid_1{
    display: grid;
    grid-template-columns: 1;
}

.grid_2{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
}

.group_radio{
    display: grid;
    grid-template-columns: auto auto;
}

.text_black{
    color: black;
}

.item_2{
    grid-column: 1/2;
}

#bg_message{}